.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerForm {
  width: 90%;
  margin: 3rem auto 0;
  padding: 2rem 1rem 1rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.formGroup {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  margin-bottom: 3rem;
  border: 5px double var(--saintBlue);
  padding: 1rem;

  &::before {
    content: attr(data-group-name);
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-50%);
    background-color: var(--lightClr);
    font-weight: bold;
    padding: 0 1rem;
  }

  .longTxt {
    grid-column: span 1;
    @media (min-width: 600px) {
      grid-column: span 2;
    }
  }
}

.formField {
  width: 100%;
  position: relative;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  label,
  input {
    margin-top: 0;
    padding: 0;
  }

  select,
  input {
    width: 100%;
    height: 2rem;
  }
}

.buttonContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;

  button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    display: block;
    background-color: yellow;
    border: none;
    &:hover {
      background-color: var(--ctaClr);
    }
    cursor: pointer;
    transition: 0.2s linear;

    &:last-child {
      background: var(--ctaClr);
    }

    &:hover {
      transform: scale(0.95);
    }
  }
}

.error {
  color: var(--ctaClr);
  font-size: bolder;
  margin: 0 0 15px;
  padding: 0;
}
